:root{
    --ableblue : #0069ff;
    --abledark : #191E29;
    --deep : #505863;
    --light : #B0B9C2;
    --light-shaded : #CCE1FF;
    --white : #FFFFFF;
    --ablered : #F46767;
    --small-text-grey : #8C959E;
    --plane-grey : #F3F4F6;
}